#wbc469875fafd733c {
	display: flex;
}

#w610707763f86f87a {
	padding-top: 48px;
}

#w610707763f86f87a {
	padding-left: 24px;
}

#w610707763f86f87a {
	display: flex;
}

#w610707763f86f87a {
	padding-bottom: 48px;
}

#w610707763f86f87a {
	justify-content: center;
}

#w610707763f86f87a {
	padding-right: 24px;
}

#we32dc17143f496ab {
	width: 40px;
}

#w0c65858259e32e18 {
	font-weight: bold;
}

#w0c65858259e32e18 {
	color: rgba(16, 24, 39, 100);
}

#w0c65858259e32e18 {
	margin-top: 40px;
}

#we794330d4f9f9140 {
	margin-top: 40px;
}

#wd92ddbc4a1201cbe {
	margin-bottom: 24px;
}

#wd92ddbc4a1201cbe {
	margin-top: 24px;
}

#w07ba7338de2c622e {
	display: block;
}

#w07ba7338de2c622e {
	color: rgba(16, 24, 39, 100);
}

#w0835680e9ed5e4c7 {
	margin-top: 8px;
}

#wa68226a9101fa62c {
	padding-bottom: 6px;
}

#wa68226a9101fa62c {
	width: 100%;
}

#wa68226a9101fa62c {
	display: block;
}

#wa68226a9101fa62c {
	color: rgba(16, 24, 39, 100);
}

#wa68226a9101fa62c {
	padding-top: 6px;
}

#w89eb232bc69d25a8 {
	align-items: center;
}

#w89eb232bc69d25a8 {
	justify-content: between;
}

#w89eb232bc69d25a8 {
	display: flex;
}

#wb81e118106f8f1e5 {
	display: block;
}

#wb81e118106f8f1e5 {
	color: rgba(16, 24, 39, 100);
}

#wf556dd5820141b5d {
	font-weight: semibold;
}

#w6f501f03ba82d6c2 {
	margin-top: 8px;
}

#w8df2c464516f9041 {
	display: block;
}

#w8df2c464516f9041 {
	color: rgba(16, 24, 39, 100);
}

#w8df2c464516f9041 {
	padding-top: 6px;
}

#w8df2c464516f9041 {
	padding-bottom: 6px;
}

#w8df2c464516f9041 {
	width: 100%;
}

#w0512f0083fb693bd {
	width: 100%;
}

#w0512f0083fb693bd {
	justify-content: center;
}

#w0512f0083fb693bd {
	font-weight: semibold;
}

#w0512f0083fb693bd {
	padding-left: 12px;
}

#w0512f0083fb693bd {
	display: flex;
}

#w0512f0083fb693bd {
	padding-top: 6px;
}

#w0512f0083fb693bd {
	padding-bottom: 6px;
}

#w0512f0083fb693bd {
	padding-right: 12px;
}

#w6408dc9856366aac {
	color: rgba(16, 24, 39, 56);
}

#w6408dc9856366aac {
	margin-top: 40px;
}

#w3b0d242b855ca90e {
	font-weight: semibold;
}